extends base

block content
    // Wrapper
    #wrapper
        h1= title
            h2 API Info
            #apiInfo
                .pure-g
                    .pure-u-1-4
                        strong URL:
                    .pure-u-3-4
                        | #{apiUrl}
                    .pure-u-1-4
                        strong Method:
                    .pure-u-3-4
                        | #{apiMethod}
                    .pure-u-1-4
                        strong Timeout:
                    .pure-u-3-4
                        | #{apiTimeout}

            // History
            h2 History
            #resultList
                table.pure-table-striped
                    thead
                        th Date
                        th Result
                        th Message
                    tbody
            // /USER LIST

    // /WRAPPER