#wrapper {
    max-width: 980px;
    margin: 0 auto;
}

#resultList, #apiInfo {
    margin-left: 10px;
    margin-right: 10px;
}

#resultList table {
    width: 100%;
}

h1, h2 {
    font-weight: 300;
}

th, td {
    text-align: left;
    padding: 10px;
}